# Hello
src/server/node_modules
src/server/package-lock.json

# Secrets

src/server/Secrets

# Logs

*.log
log
# Ds store

*.DS_Store

# VScode launch settings

.vscode

# Shell scripts

*.sh

# portfollio

src/portfollio/server/node_modules
src/portfollio/server/package-lock.json

# unfinished idea of moving all the app.get pages from the index.ts file

src/server/pages