src/server/node_modules
src/server/package-lock.json
*/.DS_Store
src/server/.DS_Store
src/server/public/.DS_Store
src/server-host/
src/server/Secrets
src/server/admin
.DS_Store
*.log
log
*.DS_Store
.vscode
*.sh
src/portfollio/server/node_modules
src/portfollio/server/package-lock.json
src/server/pages