.light-theme {

    /**
     * light theme colors 
     */
  
  
    /**
     * dark theme colors 
     */
     --gradient-color: linear-gradient(
      115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
     --background-primary: hsl(218, 23%, 23%);
     --background-secondary: hsl(220, 26%, 14%);
   
     --action-primary: hsl(216, 15%, 52%);
     --action-secondary: hsl(218, 23%, 23%);
   
     --foreground-primary: hsl(210, 38%, 95%);
     --foreground-secondary: hsl(211, 25%, 84%);
     --foreground-tertiary: hsl(214, 20%, 69%);
   
     --accent: hsl(229, 76%, 66%);   
  
  }


body {
    background-color: var(--background-secondary);
}

* {
    margin: 0;
    padding: 0; 
}

.amount-box {
    width: 300px;
    height: 400px;
    border-radius: 5px;
    position: fixed;
    left: 40%;
    top: 20%;
    text-align: center;
    background-color: var(--background-primary);
}

.amount-num {
    color: white;
    font-size: 30px;
    font-weight: 900;
}

.dol {
    background-color: var(--background-secondary);
    width: 250px;
    border-radius: 5px;
    margin: 40px auto; 

}

.dol.cus {
    font-size: 20px;
}

.am-hd {
    position: fixed;
    left: 46%;
    text-decoration: underline;
    color: white;
    top: 13%;
}