

.light-theme {

    /**
     * light theme colors 
     */
  
  
    /**
     * dark theme colors 
     */
     --gradient-color: linear-gradient(
      115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
     --background-primary: hsl(218, 23%, 23%);
     --background-secondary: hsl(220, 26%, 14%);
   
     --action-primary: hsl(216, 15%, 52%);
     --action-secondary: hsl(218, 23%, 23%);
   
     --foreground-primary: hsl(210, 38%, 95%);
     --foreground-secondary: hsl(211, 25%, 84%);
     --foreground-tertiary: hsl(214, 20%, 69%);
   
     --accent: hsl(229, 76%, 66%);   
  
  }

body {
    background-color: var(--background-secondary);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.page-err img {
    width: 10%;
    height: 10%;
}

.page-err .h1 {
    opacity: 0;
    position: fixed;
    left: 2.5%;
    top: 10%;
    background-color: white;
}